<% const errors = errors || {}; const values = values || {}; %>
<div class="col-12 col-lg-10 col-xl-8 mx-auto">
  <h1 class="mb-4">Add New Census</h1>
  <form method="POST" action="/census" novalidate>
    <div class="mb-3">
  <label class="form-label">Number of People in Household</label>
  <input type="number" min="1" class="form-control <%= errors.num_people ? 'is-invalid' : '' %>" name="num_people" value="<%= values.num_people ?? '' %>" required>
  <% if (errors.num_people) { %><div class="invalid-feedback"><%= errors.num_people %></div><% } %>
</div>

<h5 class="mt-4">Household Address</h5>
<div class="mb-3">
  <label class="form-label">Street</label>
  <input type="text" class="form-control <%= errors.street ? 'is-invalid' : '' %>" name="street" value="<%= values.street ?? '' %>" required>
  <% if (errors.street) { %><div class="invalid-feedback"><%= errors.street %></div><% } %>
</div>
<div class="row">
  <div class="col-md-6 mb-3">
    <label class="form-label">City</label>
    <input type="text" class="form-control <%= errors.city ? 'is-invalid' : '' %>" name="city" value="<%= values.city ?? '' %>" required>
    <% if (errors.city) { %><div class="invalid-feedback"><%= errors.city %></div><% } %>
  </div>
  <div class="col-md-2 mb-3">
    <label class="form-label">State</label>
    <input type="text" maxlength="2" class="form-control text-uppercase <%= errors.state ? 'is-invalid' : '' %>" name="state" value="<%= values.state ?? '' %>" placeholder="CO" required>
    <% if (errors.state) { %><div class="invalid-feedback"><%= errors.state %></div><% } %>
  </div>
  <div class="col-md-4 mb-3">
    <label class="form-label">Zip Code</label>
    <input type="text" class="form-control <%= errors.zip ? 'is-invalid' : '' %>" name="zip" value="<%= values.zip ?? '' %>" placeholder="12345" required>
    <% if (errors.zip) { %><div class="invalid-feedback"><%= errors.zip %></div><% } %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 mb-3">
    <label class="form-label">Year (of the Census)</label>
    <input type="number" class="form-control <%= errors.year ? 'is-invalid' : '' %>" name="year" value="<%= values.year ?? '' %>" required>
    <% if (errors.year) { %><div class="invalid-feedback"><%= errors.year %></div><% } %>
  </div>
  <div class="col-md-6 mb-3">
    <label class="form-label">Census Taker's Name</label>
    <input type="text" class="form-control <%= errors.taker ? 'is-invalid' : '' %>" name="taker" value="<%= values.taker ?? '' %>" required>
    <% if (errors.taker) { %><div class="invalid-feedback"><%= errors.taker %></div><% } %>
  </div>
</div>
    <div class="d-flex gap-2">
      <button class="btn btn-success" type="submit">Save</button>
      <a class="btn btn-outline-secondary" href="/census">Cancel</a>
    </div>
  </form>
</div>